*{
    font-family: "Poppins", sans-serif;
}
$color_1: #011aff;
$color_2: #002057;
$color_3: #ff7b00;
$color_4: rgba(148, 8, 8, 1);
$color_5: #09011b;
$color_6: rgba(115, 3, 167, 1);
$color_7: #ffff;
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
.btn-1{
    padding: 12px 30px;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    background: #2506ad;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    width: 160px;
}
.btn-1:hover{
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 60%);
    color: white;
}
header{
    .navbar{
        .navbar-brand{
            span{
                font-size: 30px;
            }
        }
        .navbar-nav{
            li{
                .active{
                    color: $color_1 !important;    
                }
                .nav-link{
                    font-size: 17px;
                    color: #0e2431;
                    font-weight: 600;
                    text-decoration: none;
                    letter-spacing: 0.04rem;
                    transition: 0.2s;
                    border-bottom: 2px solid transparent;
                }
                .nav-link:hover{
                    border-bottom: 2px solid $color_1;
                    color: $color_1;
                }
            }
            
        }
    }
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e180;
    position: relative;
    background-size: 100%;
    .fly-p{
        position: absolute;
        top:0%;
        left: 0%;
        transform: translateX(-200px);
        .fly1{
            animation-name: fly1;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }
    }
    @keyframes fly1 {
        0%   {transform: translateX(-200px);}
        100%  {transform: translateX(1700px);}
      }
    h2{
        font-size: 50px;
        font-weight: 800;
        color: $color_2;
        span{
            color:red !important;
        }
    }
    p{
        font-size: 30px;
        color: #000;
        font-weight: 600;
        padding: 1rem 0;
        span{
            color: $color_4;
        }
    }
    .hero-box{
        img{
            width: 70%;
            margin-left: 6rem;
            border-radius: 50%;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 30%);
            cursor: pointer;
        }
    }
    .btn{
        border-radius: 4em;
        transition: 0.5s;
        color: #fff;
        background: $color_1;
        box-shadow: 0px 5px 18px rgba(48, 68, 247, 60%);
        font-family: "Nunito", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        padding: 10px 0px;
        font-weight: bold;
    }
    .socials{
        margin-top: 40px;
        .social-icons{
            list-style: none;
            display: flex;
            margin: 0px;
            padding: 0px;
            li{
                a{
                    font-size: 18px;
                    display: inline-block;
                    line-height: 44px;
                    color: #00d9ff;
                    background-color: $color_5;
                    width: 44px;
                    height: 44px;
                    text-align: center;
                    margin-right: 8px;
                    border-radius: 100%;
                    transition: 0.3s;
                }
                a:hover{
                    color: white;
                    transform: translateY(-10px);
                }
            }
        }
    }
}

.about-us{
    padding: 50px 0px;
    .heading{
        font-size: 37px;
        color: rgb(32, 32, 32);
        font-weight: 800;
        span{
            color: $color_6;
        }
    }
    .about-con{
        margin-top: 70px;
        .inner-con{
            h3{
                font-weight: 700;
            }
            span{
                font-weight: 700;
                color: $color_2;
            }
            p{
                font-weight: 500;
                margin-top: 15px;
            }
        }
    }
    .col-12{
        .img-box{
            text-align: center;
            img{
                width: 300px;
                border-radius: 20px;
            }
        }
    }
    .personal-info{
        .info{
            display: flex;
            h6{
                width: 50%;
                span{
                    color: $color_1;
                }
            }
        }
    }
    
}
.skill-abilities{
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    padding: 50px 0px;
    .heading{
        font-size: 37px;
        color: white;
        font-weight: 800;
        span{
            color: rgba(255, 230, 0, 1);
        }
    }
    .skils{
        background-color: rgba(0,0,0,0.5);
        border-radius: 10px;
        padding: 30px;
        margin-top: 30px;
    }
    .skils-box{
        width: 180px;
        border-radius: 10px;
        padding: 20px;
        height: 120px;
        text-align: center;
        color: white;
        background-color: #000;
        margin: 20px auto;
        h5{
            margin-top: 15px;
        }
    }
}
.contact{
    padding: 50px 0px;
    background-color: #e5ecfb;
    .heading{
        font-size: 37px;
        color: rgba(32, 32, 32, 1);
        font-weight: 800;
        span{
            color: $color_6;
        }
    }
    .contact-info{
        padding: 50px;
        background-color: white;
        border-radius: 20px;
        margin-top: 50px;
        .form-box{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .form-floating{
                width: 350px;
                i{
                    font-size: 20px;
                    margin-right: 5px;
                }
            }
        }
        .btn{
            margin-top: 20px;
        }
    }
}

.experience{
    padding: 50px 0px 100px 0px;
    .heading{
        font-size: 37px;
        color: rgb(32, 32, 32);
        font-weight: 800;
    }
    .experience-slider{
        padding: 50px 20px;
        border-radius: 20px;
        background-color: $color_7;
        margin-top: 50px;
        position: relative;
        .overlay-con{
            opacity: 0;
            position: absolute;
            top:0%;
            left: 0%;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border:3px solid transparent;
        }
        .overlay-con:hover{
            transition: 0.3s;
            opacity: 1;
            border:3px solid $color_1;
        }
        
    }
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{
        font-size: 2.2rem !important;
        height: 60px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px !important;
        border:2px solid $color_1;
    }
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot:hover{
        background-color: $color_1 !important;
        color: $color_7 !important;
    }
    .owl-carousel .owl-nav .owl-prev{
        position: absolute;
        top: 45%;
        left: -6%;
    }
    .owl-carousel .owl-nav .owl-next{
        position: absolute;
        top: 45%;
        right: -6%;

    }
}
.footer{
    padding: 50px 0px;
    background-color: $color_5;
    color: $color_7;
    p{
        color: #ccc;
        padding: 0.7rem 0;
        text-transform: none;
        font-size: 18px;
    }
    ol{
        margin-top: 1rem;
        li{
          a{
            color: #ccc;
            padding: 0.7rem 0;
            text-transform: none;
            font-size: 18px;
          }
        }
    }
}






/* Mobile screen */
@media only screen and (max-width: 600px) {
   .hero{
    height: 140vh;
    .row{
        display: flex;
        flex-flow: column-reverse;
        .col-12{
            text-align: center !important;
            img{
                margin: auto;
            }
        }
    }
   }
   .hero{
    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
       }
    }
    .btn{
        margin: auto;
    }
    .inner-con{
        text-align: center;
        margin-top: 30px;
    }
    .personal-info{
        .info{
            display: block !important;
            text-align: center;
            h6{
                width: 100% !important;
            }
        }
    }
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{
        display: none !important;
    }
    .contact{
        .contact-info{
            .form-box{
                margin-top: 20px;
                .form-floating{
                    width: 300px;
                    i{
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
  }