* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.banner-btn {
  margin-top: 30px;
}

.banner-btn .btn {
  font-size: 14px;
  font-weight: 500;
  padding: 16px 30px;
  border-radius: 50px;
  border: 1px solid;
  text-transform: uppercase;
  background-color: #48455a;
  color: white;
  width: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner-btn .btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.banner-btn i {
  margin-right: 0.5rem;
  font-weight: 500;
}

.banner-btn .btn:nth-child(2) {
  background-color: #fa5d3a;
}

.globel-btn-box .btn {
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 35px;
  border-radius: 50px;
  border: 1px solid;
  text-transform: uppercase;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 8px 25px 0px rgba(72, 69, 90, 0.1);
          box-shadow: 0px 8px 25px 0px rgba(72, 69, 90, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.globel-btn-box .btn i {
  font-size: 16px;
}

.globel-btn-box .btn-inline {
  color: white;
  background-color: #fa5d3a;
  border: #fa5d3a;
}

.globel-btn-box .btn-inline:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #48455a;
}

/* Mobile screen */
@media only screen and (max-width: 600px) {
  .banner-btn {
    width: 100% !important;
    text-align: center;
  }
  .banner-btn .btn {
    margin-top: 10px;
  }
}

.banner-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-icon ul li a {
  padding: 16px;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #fa5d3a;
  color: white;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
}

.banner-icon ul li:hover {
  -webkit-transform: translateY(-5px) !important;
          transform: translateY(-5px) !important;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.banner-icon ul li:hover a {
  background-color: #48455a !important;
}

.section-heading {
  text-align: center;
  padding: 50px 0px 30px 0px;
}

.section-heading p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #48455a;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.section-heading p span {
  color: #fa5d3a;
}

.section-heading h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: -0.8px;
  color: #48455a;
  width: 450px;
  margin: auto;
}

/* Mobile screen */
@media only screen and (max-width: 600px) {
  .section-heading p {
    font-size: 18px;
  }
  .section-heading h2 {
    width: 100%;
    font-size: 28px;
    line-height: 28px;
  }
}

.header .navbar .navbar-nav .nav-item {
  margin: 0px 20px !important;
}

.header .navbar .navbar-nav .nav-item a {
  font-weight: 600;
  padding: 35px 0px;
  border-radius: 5px;
  color: #48455a;
  text-transform: capitalize;
}

.header .navbar .navbar-nav .active {
  color: #fa5d3a !important;
}

@media only screen and (max-width: 600px) {
  .header .navbar .navbar-nav .nav-item {
    margin: 0px 0px !important;
    padding: 0px !important;
  }
  .header .navbar .navbar-nav .nav-item a {
    font-weight: 600;
    padding: 10px 0px;
    border-radius: 5px;
    color: #48455a;
    text-align: center;
    text-transform: capitalize;
  }
}

.hero {
  padding: 50px 0px;
  background-image: url("../images/Hero-section/banner.png");
  background-size: 100%;
  position: relative;
}

.hero .circle-shape {
  position: absolute;
  top: 30%;
  left: 48%;
  -webkit-animation: hasan 4s linear infinite;
          animation: hasan 4s linear infinite;
}

@-webkit-keyframes hasan {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes hasan {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.hero .star-shape {
  position: absolute;
  right: 4%;
  bottom: 4%;
  width: auto;
  height: 120px;
  -webkit-animation: miron 4s linear infinite;
          animation: miron 4s linear infinite;
}

@-webkit-keyframes miron {
  0% {
    -webkit-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(-180deg) scale(1.2);
            transform: rotate(-180deg) scale(1.2);
  }
}

@keyframes miron {
  0% {
    -webkit-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(-180deg) scale(1.2);
            transform: rotate(-180deg) scale(1.2);
  }
}

.hero .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.hero .banner-content .banner-text {
  margin-top: 20px;
}

.hero .banner-content .banner-text span {
  font-size: 22px;
  font-weight: 500;
  color: #48455a;
  text-transform: capitalize;
  margin-bottom: 13px;
}

.hero .banner-content .banner-text h1 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 800;
  color: #48455a;
}

.hero .banner-content .banner-text p {
  font-size: 16px;
  font-weight: 500;
  color: #48455a;
  line-height: 26px;
}

/* Mobile screen */
@media only screen and (max-width: 600px) {
  .hero .star-shape {
    display: none;
  }
  .hero .banner-icon ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .banner-icon ul li a {
    padding: 9px !important;
    margin-right: 10px;
    font-size: 13px;
  }
  .hero .banner-text {
    margin-top: 20px;
    text-align: center;
  }
  .hero .banner-text span {
    font-size: 18px !important;
  }
  .hero .banner-text h1 {
    font-size: 25px !important;
    line-height: 28px !important;
    font-weight: 800;
    color: #48455a;
  }
  .hero .banner-text p {
    font-size: 16px;
    font-weight: 500;
    color: #48455a;
    line-height: 26px;
  }
}

.resume-part {
  background-color: #edeef2;
}

.resume-part .tab .nav {
  border: none;
  width: 650px;
  margin: 30px auto;
}

.resume-part .tab .nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  margin: auto !important;
  width: 130px;
  padding: 25px 0px;
  text-align: center;
  -webkit-box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #fa5d3a !important;
  margin: 20px;
  border: none;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  background-color: rgba(255, 255, 255, 0.788);
}

.resume-part .tab .nav .nav-link i {
  font-size: 25px;
  margin-bottom: 10px;
}

.resume-part .tab .nav .active {
  background-color: #fa5d3a;
  color: white !important;
}

.about-me-section {
  padding: 50px 0px;
}

.about-me-section .about-summery h3 {
  font-weight: 600;
  margin-bottom: 30px;
  color: #48455a;
  font-size: 32px;
}

.about-me-section .about-summery p {
  color: #777777;
  font-size: 17px;
}

.about-me-section .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
}

.about-me-section .about-list ul:nth-child(2) {
  margin-left: 20px;
}

.about-me-section .about-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me-section .about-list ul li h6 {
  text-transform: capitalize;
  font-weight: 700;
  margin-right: 15px;
  color: #48455a;
  line-height: 20px;
}

.about-me-section .about-list ul li p {
  text-transform: capitalize;
  font-weight: 700;
  margin-right: 15px;
  line-height: 20px;
  color: #777777;
}

.about-me-section .about-img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience-section, .education-section {
  padding: 50px 0px;
}

.experience-section .resume-card, .education-section .resume-card {
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 50px 45px 45px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.15);
}

.experience-section .resume-card .resume-content, .education-section .resume-card .resume-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience-section .resume-card .resume-content .resume-icon i, .education-section .resume-card .resume-content .resume-icon i {
  font-size: 50px;
  color: #fa5d3a;
  margin-right: 30px;
  margin-top: 10px;
}

.experience-section .resume-card .resume-content .resume-meta h4, .education-section .resume-card .resume-content .resume-meta h4 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #48455a;
}

.experience-section .resume-card .resume-content .resume-meta h5, .education-section .resume-card .resume-content .resume-meta h5 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #48455a;
}

.experience-section .resume-card .resume-content .resume-meta h6, .education-section .resume-card .resume-content .resume-meta h6 {
  font-size: 15px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 30px;
  display: inline-block;
  text-transform: capitalize;
  color: #fa5d3a;
  background: rgba(216, 83, 43, 0.15);
  margin-bottom: 20px;
}

.experience-section .resume-card .resume-text p, .education-section .resume-card .resume-text p {
  color: #777777;
  font-weight: 500;
}

.experience-section .resume-card:hover, .education-section .resume-card:hover {
  background-color: #fa5d3a;
  color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.experience-section .resume-card:hover .resume-content .resume-icon i, .education-section .resume-card:hover .resume-content .resume-icon i {
  color: white;
}

.experience-section .resume-card:hover .resume-content .resume-meta h4, .experience-section .resume-card:hover .resume-content .resume-meta h5, .education-section .resume-card:hover .resume-content .resume-meta h4, .education-section .resume-card:hover .resume-content .resume-meta h5 {
  color: white;
}

.experience-section .resume-card:hover .resume-content .resume-meta h6, .education-section .resume-card:hover .resume-content .resume-meta h6 {
  background-color: white;
}

.experience-section .resume-card:hover .resume-text p, .education-section .resume-card:hover .resume-text p {
  color: white;
}

.reference-section {
  padding: 50px 0px;
}

.reference-section .refer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reference-section .refer-card .refer-img {
  border-radius: 50%;
  border: 5px solid #fa5d3a;
  -webkit-box-shadow: 0px 0px 60px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 60px 3px rgba(0, 0, 0, 0.15);
}

.reference-section .refer-card .refer-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid white;
}

.reference-section .refer-card .refer-content {
  width: 100%;
  text-align: center;
  padding: 35px 45px;
  border-radius: 8px;
  background: white;
  -webkit-box-shadow: 0px 0px 60px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 60px 3px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  position: relative;
}

.reference-section .refer-card .refer-content h4 {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.reference-section .refer-card .refer-content p {
  font-weight: 500;
}

.reference-section .refer-card .refer-content .refer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 105px;
}

.reference-section .refer-card .refer-content .refer-contact .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.reference-section .refer-card .refer-content .refer-contact .icon i {
  color: white;
  background-color: #fa5d3a;
  border: #fa5d3a;
  width: 48px;
  height: 48px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  border: 2px solid #fa5d3a;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
  margin: 0px 3px;
}

.reference-section .refer-card .refer-content .refer-contact .icon:hover i {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Mobile screen */
@media only screen and (max-width: 600px) {
  .resume-part .tab .nav {
    width: 100%;
  }
  .resume-part .tab .nav .nav-link {
    width: 120px;
    margin-top: 20px !important;
  }
  .about-me-section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .about-me-section .about-list {
    display: block;
  }
  .about-me-section .about-list ul:nth-child(2) {
    margin-left: 0px;
  }
  .experience-sextion .resume-card .resume-content, .education-sextion .resume-card .resume-content {
    display: block;
  }
  .reference-section .refer-card {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    text-align: center;
  }
  .reference-section .refer-card .refer-img {
    width: 260px;
    margin: auto;
  }
  .reference-section .refer-card .refer-content {
    width: 100%;
    text-align: center;
    padding: 35px 45px;
    border-radius: 8px;
    background: white;
    -webkit-box-shadow: 0px 0px 60px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 60px 3px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    position: relative;
    z-index: -1;
  }
}

.my-services {
  padding: 50px 0px;
}

.my-services .row {
  margin-top: 100px;
}

.my-services .row .service-card {
  margin-bottom: 30px;
  background: white;
  text-align: center;
  padding: 60px 40px 65px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-services .row .service-card .website-design {
  width: 50px;
}

.my-services .row .service-card .w-website-design {
  width: 65px;
  position: absolute;
  top: 6%;
  left: 6%;
}

.my-services .row .service-card h3 {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 5px;
  right: 5px;
}

.my-services .row .service-card h4 {
  margin: 30px 0px;
}

.my-services .row .service-card p {
  color: #777777;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins",sans-serif;
  line-height: 28px;
}

.my-services .row .service-card:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fa5d3a;
  -webkit-clip-path: circle(20% at 100% 0%);
          clip-path: circle(20% at 100% 0%);
  z-index: -1;
}

.my-services .row .service-card:hover {
  background-color: #fa5d3a;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.my-services .row .service-card:hover p {
  color: white;
}

.my-services .row .col-12:nth-child(2) {
  margin-top: -50px;
}

.my-services .row .col-12:nth-child(5) {
  margin-top: -50px;
}

@media only screen and (max-width: 600px) {
  .my-services {
    padding: 20px 0px;
  }
  .my-services .row {
    margin-top: 10px;
  }
  .my-services .row .service-card {
    padding: 20px 10px !important;
  }
  .my-services .row .col-12:nth-child(2) {
    margin-top: 0px !important;
  }
  .my-services .row .col-12:nth-child(5) {
    margin-top: 0px !important;
  }
}

.coding-structuer {
  background-color: #edeef2;
  padding: 50px 0px;
}

.coding-structuer .row {
  margin-top: 20px;
}

.coding-structuer .row .coding-content h3 {
  color: #555;
  font-size: 29px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 20px;
}

.coding-structuer .row .coding-content h3 span {
  font-weight: 700;
}

.coding-structuer .row .coding-content p {
  width: 420px;
  margin-bottom: 45px;
  color: #777777;
  font-size: 17px;
}

.coding-structuer .row .coding-list ul, .coding-structuer .row .coding-list ol {
  list-style: none;
  margin-bottom: 0px;
  display: inline-block;
}

.coding-structuer .row .coding-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}

.coding-structuer .row .coding-list li p {
  color: #777777;
  font-size: 18px;
  margin-left: 20px;
  font-weight: 500;
}

.coding-structuer .row .coding-list .coding-round .bi {
  color: #fa5d3a;
  padding: 8px;
  font-weight: bold;
  font-size: 23px;
}

.coding-structuer .row .coding-img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .coding-structuer {
    padding: 20px 0px;
  }
  .coding-structuer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .coding-structuer .row img {
    margin-bottom: 20px;
  }
  .coding-structuer .coding-content h3 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .coding-structuer .coding-content p {
    width: 100% !important;
  }
}

.my-skills {
  padding: 50px 0px 0px 0px;
}

.my-skills .skills-card {
  background: white;
  text-align: center;
  border-radius: 5px;
  padding: 30px 0px 0px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.my-skills .skills-card .skills-img {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  margin: 0px auto 30px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.my-skills .skills-card .skills-img img {
  width: auto;
  height: 60px;
  padding: 5px 0px;
}

.my-skills .skills-card .skills-name {
  border-top: 1px solid #e8e8e8;
}

.my-skills .skills-card .skills-name p {
  color: #48455a;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 0px;
}

.my-skills .skills-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #fa5d3a;
}

.my-skills .skills-card:hover .skills-img {
  width: 100px;
  height: 60px;
  background-color: white;
  border-radius: 0px;
  border-radius: 10px;
}

.my-skills .skills-card:hover .skills-name p {
  color: white;
}

.discuss-part {
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
}

.discuss-part .discuss-oly {
  background: #fa5d3a;
  border-radius: 10px;
  padding: 0px 15px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
}

.discuss-part .discuss-oly .discuss-bg {
  background: url("../images/discuss-part/intro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 70px;
  border-radius: 10px;
}

.discuss-part .discuss-oly .discuss-bg .discuss-content h3 {
  color: white;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 22px;
  font-weight: bold;
}

.discuss-part .discuss-oly .discuss-bg .discuss-content p {
  font-size: 18px;
  color: white;
}

.discuss-part .discuss-oly .discuss-bg .discuss-btn {
  height: 100% !important;
}

.discuss-part .discuss-oly .discuss-bg .discuss-btn .globel-btn-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discuss-part .discuss-oly .discuss-bg .discuss-btn .globel-btn-box .btn {
  background-color: white;
  color: #fa5d3a;
  font-weight: bold;
}

.discuss-part .discuss-oly .discuss-bg .discuss-btn .globel-btn-box .btn:hover {
  background-color: #48455a;
  color: white;
}

@media only screen and (max-width: 600px) {
  .discuss-part .discuss-oly .discuss-bg {
    padding: 40px 20px !important;
    text-align: center;
  }
}

.counter-part {
  background: #48455a;
}

.counter-part .counter-bg {
  background-image: url("../images/counter-part/counter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 205px 0px 90px;
}

.counter-part .counter-bg .counter-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter-part .counter-bg .counter-card img {
  width: 90px;
  margin-right: 20px;
}

.counter-part .counter-bg .counter-card .counter-info h3 {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 13px;
}

.counter-part .counter-bg .counter-card .counter-info p {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .counter-bg .counter-card {
    display: block !important;
    text-align: center;
  }
  .counter-bg .counter-card img {
    width: 80px;
    margin: 0px !important;
  }
  .counter-bg .counter-card .counter-info h3 {
    font-size: 38px !important;
  }
  .counter-bg .counter-card .counter-info p {
    line-height: 10px;
  }
}

.pricing-part {
  padding: 50px 0px;
}

.pricing-part .row {
  margin-top: 80px;
}

.pricing-part .row .pricing-card {
  text-align: center;
  border-radius: 10px;
  margin: 0px 8px;
  padding: 30px 50px 30px;
  -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}

.pricing-part .row .pricing-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 80px;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}

.pricing-part .row .pricing-card h3::before {
  position: absolute;
  content: "";
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 120px;
  height: 130px;
  z-index: -1;
  border-radius: 30px 0px 50% 50%;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  /* For browsers that do not support gradients */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa5d3aa4), to(#fa5d3a));
  background-image: linear-gradient(#fa5d3aa4, #fa5d3a);
}

.pricing-part .row .pricing-card h4 {
  font-size: 42px;
  font-weight: 600;
  color: #48455a;
  margin-bottom: 3px;
}

.pricing-part .row .pricing-card p {
  color: #777777;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
}

.pricing-part .row .pricing-card .pricing-list {
  text-align: left;
  list-style: disc;
  margin-bottom: 35px;
  display: inline-block;
}

.pricing-part .row .pricing-card .pricing-list li {
  color: #777777;
  text-transform: capitalize;
  padding-left: 10px;
  margin-bottom: 20px;
}

.pricing-part .row .pricing-card .globel-btn-box .btn-inline {
  background-color: #48455a;
  color: #fff;
}

.pricing-part .row .pricing-card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  background-color: #fa5d3a;
}

.pricing-part .row .pricing-card:hover h3 {
  color: #fff;
}

.pricing-part .row .pricing-card:hover h4 {
  color: #fff;
}

.pricing-part .row .pricing-card:hover p {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.pricing-part .row .pricing-card:hover .pricing-list {
  color: #fff;
}

.pricing-part .row .pricing-card:hover .pricing-list li {
  color: #fff;
}

.pricing-part .row .pricing-card:hover .globel-btn-box .btn-inline {
  background-color: #fff !important;
  color: #fa5d3a;
}

.pricing-part .row .pricing-recom {
  color: #fff;
  background-color: #fa5d3a;
  margin: -50px 0px 0px 0px !important;
}

.pricing-part .row .pricing-recom h3 {
  color: #fff;
}

.pricing-part .row .pricing-recom h4 {
  color: #fff;
}

.pricing-part .row .pricing-recom p {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.pricing-part .row .pricing-recom .pricing-list {
  color: #fff;
}

.pricing-part .row .pricing-recom .pricing-list li {
  color: #fff;
}

.pricing-part .row .pricing-recom .btn-inline {
  background-color: #fff !important;
  color: #fa5d3a !important;
}

@media only screen and (max-width: 600px) {
  .pricing-part .row {
    margin-top: 50px;
  }
  .pricing-part .row .pricing-recom {
    margin: 50px 0px !important;
  }
}

.faq-part .faq-parent .faq-child {
  border-left: 2px solid #fa5d3a;
  border-right: 2px solid #fa5d3a;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1) !important;
}

.faq-part .faq-parent .faq-child .btn {
  background-color: #fff;
  color: #fa5d3a;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  outline-style: none !important;
  border: none !important;
  margin: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold !important;
  border-bottom: 1px solid #e8e8e8 !important;
  padding: 18px 25px;
}

.faq-part .faq-parent .faq-child p {
  color: #777777;
  font-size: 17px;
}

.footer {
  margin-top: 40px;
  padding: 10px 0px;
  background-color: #edeef2;
}

.footer .banner-content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-text {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-text li {
  padding: 0px 25px;
  border-right: 2px solid #999999;
}

.footer .footer-text li h6 {
  font-weight: 400;
}

.footer .footer-text li h6 span {
  color: #fa5d3a;
}

.footer .footer-text li h6 a {
  color: #fa5d3a !important;
}

@media only screen and (max-width: 600px) {
  .footer .footer-text {
    display: block;
  }
  .footer .footer-text li {
    border: none;
    text-align: center;
  }
}

.testing .content {
  padding: 10px;
  background-color: #fa5d3a;
}

.testing .screen {
  height: 400px;
  width: auto;
  background-image: url("../images/web/web1.png");
  background-size: cover;
  background-position: top;
  -webkit-transition: 8s;
  transition: 8s;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5) !important;
}

.testing .screen:hover {
  background-position: bottom;
}

.testing .screen-2 {
  background-image: url("../images/web/web2.png");
}

.all-page-banner {
  background: url("../images/all-page-banner/single.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.all-page-banner .single-oly {
  padding: 115px 0px 115px;
  background: rgba(209, 65, 40, 0.8);
}

.all-page-banner .single-oly .single-content {
  text-align: center;
}

.all-page-banner .single-oly .single-content h1 {
  font-size: 38px;
  line-height: 46px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  font-weight: bold;
}

.all-page-banner .single-oly .single-content .breadcrumb {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin-bottom: 0px;
  background: none;
  border-radius: 0px;
}

.all-page-banner .single-oly .single-content .breadcrumb .breadcrumb-item {
  text-transform: capitalize;
}

.all-page-banner .single-oly .single-content .breadcrumb .breadcrumb-item a {
  color: white !important;
}

.all-page-banner .single-oly .single-content .breadcrumb .breadcrumb-item.active {
  color: #ddd;
}

.all-page-banner .single-oly .single-content .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.resume-page .experience-section {
  background-color: #edeef2;
}

.resume-page .reference-section {
  background-color: #edeef2;
}

.services-page .pricing-part {
  background-color: #edeef2;
}

.contact-page .contact-part .section-heading {
  padding: 50px 0px;
}

.contact-page .contact-part .contact-address {
  text-align: center;
  padding: 40px 0px;
}

.contact-page .contact-part .contact-address .address-icon {
  margin-bottom: 28px;
}

.contact-page .contact-part .contact-address .address-icon i {
  width: 48px;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  color: white;
  background: #48455a;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.contact-page .contact-part .contact-address .address-text {
  text-align: center;
}

.contact-page .contact-part .contact-address .address-text h4 {
  line-height: 20px;
  margin-bottom: 22px;
  text-transform: capitalize;
}

.contact-page .contact-part .contact-address .address-text p {
  color: #48455a;
  line-height: 24px;
}

.contact-page .contact-part .contact-address:hover .address-icon i {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #fa5d3a;
}

.contact-page .contact-part form {
  margin-top: 50px;
}

.contact-page .contact-part .form-group {
  margin-bottom: 25px;
}

.contact-page .contact-part .form-group .form-control {
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border-radius: 30px;
  color: #48455a;
  background-color: #e7e7e7;
  border: 1px solid transparent;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.contact-page .contact-part .form-group input[type="file" i] {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.contact-page .contact-part .form-group textarea.form-control {
  height: 200px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .contact-page .contact-part .form-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}
/*# sourceMappingURL=main.css.map */