/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
/**
* Mobile Navigation 
*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #4d4643;
}
a {
  color: #1bbd36;
  text-decoration: none;
  &:hover {
    color: #2ae149;
    text-decoration: none;
  }
}
h1 {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
}
h3 {
  font-family: "Roboto", sans-serif;
}
h4 {
  font-family: "Roboto", sans-serif;
}
h5 {
  font-family: "Roboto", sans-serif;
}
h6 {
  font-family: "Roboto", sans-serif;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1bbd36;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  &:hover {
    background: #21df41;
    color: #fff;
  }
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    a {
      color: #111;
      span {
        color: #1bbd36;
      }
    }
    img {
      max-height: 40px;
    }
  }
}
.header-social-links {
  margin-left: 20px;
  border-left: 1px solid #c4c4c4;
  a {
    color: #a0a0a0;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    padding-left: 20px;
    i {
      line-height: 0;
    }
    &:hover {
      color: #1bbd36;
    }
  }
}
.navbar {
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  li {
    position: relative;
    &:hover {
      > a {
        color: #1bbd36;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #111;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
    &:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 600;
      color: #111;
      white-space: nowrap;
      text-transform: uppercase;
      transition: 0.3s;
      i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
      }
    }
    i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
    &:hover {
      color: #1bbd36;
    }
  }
  .active {
    color: #1bbd36;
    &:focus {
      color: #1bbd36;
    }
  }
  .dropdown {
    ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-top: 2px solid #1bbd36;
      li {
        min-width: 200px;
        &:hover {
          > a {
            color: #1bbd36;
          }
        }
      }
      a {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
        text-transform: none;
        color: #111;
        i {
          font-size: 12px;
        }
        &:hover {
          color: #1bbd36;
        }
      }
      .active {
        &:hover {
          color: #1bbd36;
        }
      }
    }
    &:hover {
      > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
    .dropdown {
      ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
      }
      &:hover {
        > ul {
          opacity: 1;
          top: 0;
          left: 100%;
          visibility: visible;
        }
      }
    }
  }
}
.mobile-nav-toggle {
  color: #111;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  a {
    padding: 10px 20px;
    font-size: 15px;
    color: #111;
    &:focus {
      padding: 10px 20px;
      font-size: 15px;
      color: #111;
    }
    &:hover {
      color: #1bbd36;
    }
  }
  .active {
    color: #1bbd36;
  }
  li {
    &:hover {
      > a {
        color: #1bbd36;
      }
    }
  }
  .getstarted {
    margin: 15px;
    &:focus {
      margin: 15px;
    }
  }
  .dropdown {
    ul {
      position: static;
      display: none;
      margin: 10px 20px;
      padding: 10px 0;
      z-index: 99;
      opacity: 1;
      visibility: visible;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      li {
        min-width: 200px;
        &:hover {
          > a {
            color: #1bbd36;
          }
        }
      }
      a {
        padding: 10px 20px;
        i {
          font-size: 12px;
        }
        &:hover {
          color: #1bbd36;
        }
      }
      .active {
        &:hover {
          color: #1bbd36;
        }
      }
    }
    > .dropdown-active {
      display: block;
    }
  }
}
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
  .carousel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .carousel-inner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    .carousel-item {
      transition-property: opacity;
      background-position: center top;
      opacity: 0;
    }
    .active.carousel-item-start {
      opacity: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
    }
    .active.carousel-item-end {
      opacity: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
    }
    .active {
      opacity: 1;
      transition: 0.5s;
    }
    .carousel-item-next.carousel-item-start {
      opacity: 1;
      transition: 0.5s;
    }
    .carousel-item-prev.carousel-item-end {
      opacity: 1;
      transition: 0.5s;
    }
    .carousel-item-next {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
    .carousel-item-prev {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
  .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    &::before {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
  .carousel-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    top: 70px;
    left: 55px;
    right: 55px;
  }
  .carousel-content {
    background: rgba(4, 4, 4, 0.7);
    padding: 20px;
    color: #fff;
    border-top: 5px solid #1bbd36;
    h2 {
      color: #fff;
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: 700;
    }
  }
  .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #1bbd36;
    &:hover {
      background: #1bbd36;
      color: #fff;
      text-decoration: none;
    }
  }
  .carousel-control-next-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.6);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.6);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .carousel-indicators {
    li {
      cursor: pointer;
      background: #fff;
      overflow: hidden;
      border: 0;
      width: 12px;
      height: 12px;
      border-radius: 50px;
      opacity: 0.6;
      transition: 0.3s;
    }
    li.active {
      opacity: 1;
      background: #1bbd36;
    }
  }
}
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-bg {
  background-color: #f7f7f7;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #1bbd36;
      bottom: 0;
      left: calc(50% - 25px);
    }
  }
  p {
    margin-bottom: 0;
  }
}
.breadcrumbs {
  padding: 15px 0;
  background: #1bbd36;
  min-height: 40px;
  margin-top: 72px;
  h2 {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
  }
  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
    a {
      color: #fff;
    }
    li {
      + {
        li {
          padding-left: 10px;
          &::before {
            display: inline-block;
            padding-right: 10px;
            color: #fff;
            content: "/";
          }
        }
      }
    }
  }
}
.services {
  .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    .icon {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 0.3s;
      position: relative;
      i {
        font-size: 36px;
        transition: 0.5s;
        position: relative;
      }
      svg {
        position: absolute;
        top: 0;
        left: 0;
        path {
          transition: 0.5s;
          fill: #f5f5f5;
        }
      }
    }
    h4 {
      font-weight: 600;
      margin: 10px 0 15px 0;
      font-size: 22px;
      a {
        color: #111;
        transition: ease-in-out 0.3s;
      }
    }
    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
    &:hover {
      border-color: #fff;
      box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
    }
  }
  .iconbox-blue {
    i {
      color: #47aeff;
    }
    &:hover {
      .icon {
        i {
          color: #fff;
        }
        path {
          fill: #47aeff;
        }
      }
    }
  }
  .iconbox-orange {
    i {
      color: #ffa76e;
    }
    &:hover {
      .icon {
        i {
          color: #fff;
        }
        path {
          fill: #ffa76e;
        }
      }
    }
  }
  .iconbox-pink {
    i {
      color: #e80368;
    }
    &:hover {
      .icon {
        i {
          color: #fff;
        }
        path {
          fill: #e80368;
        }
      }
    }
  }
  .iconbox-yellow {
    i {
      color: #ffbb2c;
    }
    &:hover {
      .icon {
        i {
          color: #fff;
        }
        path {
          fill: #ffbb2c;
        }
      }
    }
  }
  .iconbox-red {
    i {
      color: #ff5828;
    }
    &:hover {
      .icon {
        i {
          color: #fff;
        }
        path {
          fill: #ff5828;
        }
      }
    }
  }
  .iconbox-teal {
    i {
      color: #11dbcf;
    }
    &:hover {
      .icon {
        i {
          color: #fff;
        }
        path {
          fill: #11dbcf;
        }
      }
    }
  }
}
.portfolio {
  #portfolio-flters {
    padding: 0;
    margin: 0 auto 50px auto;
    list-style: none;
    text-align: center;
    li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 20px 10px 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      color: #4d4643;
      transition: all 0.3s;
      border-radius: 4px;
      &:hover {
        color: #fff;
        background: #1bbd36;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    li.filter-active {
      color: #fff;
      background: #1bbd36;
    }
  }
  .portfolio-item {
    margin-bottom: 30px;
    .portfolio-info {
      opacity: 0;
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      background: rgba(255, 255, 255, 0.9);
      padding: 15px;
      h4 {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        color: #111;
      }
      p {
        color: #444444;
        font-size: 14px;
        margin-bottom: 0;
      }
      .preview-link {
        position: absolute;
        right: 40px;
        font-size: 24px;
        top: calc(50% - 18px);
        color: #2b2b2b;
        &:hover {
          color: #1bbd36;
        }
      }
      .details-link {
        position: absolute;
        right: 40px;
        font-size: 24px;
        top: calc(50% - 18px);
        color: #2b2b2b;
        right: 10px;
        &:hover {
          color: #1bbd36;
        }
      }
    }
    .portfolio-links {
      opacity: 0;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 3;
      position: absolute;
      transition: all ease-in-out 0.3s;
      a {
        color: #fff;
        margin: 0 2px;
        font-size: 28px;
        display: inline-block;
        transition: 0.3s;
        &:hover {
          color: #57e76f;
        }
      }
    }
    &:hover {
      .portfolio-info {
        opacity: 1;
        bottom: 20px;
      }
    }
  }
}
.portfolio-details {
  padding-top: 40px;
  .portfolio-details-slider {
    img {
      width: 100%;
    }
    .swiper-pagination {
      margin-top: 20px;
      position: relative;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #1bbd36;
      }
      .swiper-pagination-bullet-active {
        background-color: #1bbd36;
      }
    }
  }
  .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);
    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }
    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;
      li {
        + {
          li {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .portfolio-description {
    padding-top: 30px;
    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      padding: 0;
    }
  }
}
.clients {
  .clients-wrap {
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }
  .client-logo {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    background: #fff;
    height: 100px;
    img {
      transition: all 0.3s ease-in-out;
      height: 36px;
      filter: grayscale(100%);
    }
    &:hover {
      img {
        filter: none;
        transform: scale(1.1);
      }
    }
  }
}
.about-us {
  .content {
    h2 {
      font-weight: 700;
      font-size: 42px;
      line-height: 60px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    h3 {
      font-weight: 500;
      line-height: 32px;
      font-size: 24px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 10px 0 0 28px;
        position: relative;
      }
      i {
        left: 0;
        top: 7px;
        position: absolute;
        font-size: 20px;
        color: #1bbd36;
      }
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.team {
  .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    .member-img {
      position: relative;
      overflow: hidden;
    }
    .social {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 40px;
      opacity: 0;
      transition: ease-in-out 0.3s;
      text-align: center;
      background: rgba(255, 255, 255, 0.85);
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        transition: color 0.3s;
        color: #111;
        margin: 0 10px;
        display: inline-flex;
        align-items: center;
        line-height: 0;
        i {
          line-height: 0;
        }
        &:hover {
          color: #1bbd36;
        }
      }
      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
    .member-info {
      padding: 25px 15px;
      h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 18px;
        color: #111;
      }
      span {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: #b4aca8;
      }
      p {
        font-style: italic;
        font-size: 14px;
        line-height: 26px;
        color: #847872;
      }
    }
    &:hover {
      .social {
        opacity: 1;
      }
    }
  }
}
.skills {
  .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
    .skill {
      padding: 0;
      margin: 0 0 6px 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      color: #111;
      .val {
        float: right;
        font-style: normal;
      }
    }
  }
  .progress-bar-wrap {
    background: #e7e7e7;
  }
  .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #1bbd36;
  }
}
.features {
  .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
    i {
      font-size: 32px;
      padding-right: 10px;
      line-height: 1;
    }
    h3 {
      font-weight: 700;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 16px;
      a {
        color: #111;
        transition: ease-in-out 0.3s;
        &:hover {
          color: #1bbd36;
        }
      }
    }
  }
}
.pricing {
  .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #847872;
    background: #f8f8f8;
  }
  h4 {
    font-size: 36px;
    color: #1bbd36;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    sup {
      font-size: 20px;
      top: -15px;
      left: -3px;
    }
    span {
      color: #bababa;
      font-size: 16px;
      font-weight: 300;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    color: #4d4643;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    li {
      padding-bottom: 16px;
    }
    i {
      color: #1bbd36;
      font-size: 18px;
      padding-right: 4px;
    }
    .na {
      color: #ccc;
      text-decoration: line-through;
    }
  }
  .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
  }
  .btn-buy {
    background: #1bbd36;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 4px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      background: #2ae149;
    }
  }
  .featured {
    h3 {
      color: #fff;
      background: #1bbd36;
    }
  }
  .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #1bbd36;
    color: #fff;
  }
}
.faq {
  .faq-list {
    padding: 0 100px;
    ul {
      padding: 0;
      list-style: none;
    }
    li {
      + {
        li {
          margin-top: 15px;
        }
      }
      padding: 20px;
      background: #fff;
      border-radius: 4px;
      position: relative;
    }
    a {
      display: block;
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      padding: 0 30px;
      outline: none;
      cursor: pointer;
    }
    .icon-help {
      font-size: 24px;
      position: absolute;
      right: 0;
      left: 20px;
      color: lightgray;
    }
    .icon-show {
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
    }
    .icon-close {
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 0;
    }
    p {
      margin-bottom: 0;
      padding: 10px 0 0 0;
    }
    a.collapsed {
      color: #343a40;
      transition: 0.3s;
      &:hover {
        color: #1bbd36;
      }
      .icon-show {
        display: inline-block;
      }
      .icon-close {
        display: none;
      }
    }
  }
}
.testimonials {
  .testimonials-carousel {
    overflow: hidden;
  }
  .testimonials-slider {
    overflow: hidden;
  }
  .testimonial-item {
    box-sizing: content-box;
    padding: 40px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    position: relative;
    background: #fff;
    .testimonial-img {
      width: 90px;
      border-radius: 50px;
      border: 6px solid #fff;
      float: left;
      margin: 0 10px 0 0;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 5px 0;
      color: #111;
    }
    h4 {
      font-size: 14px;
      color: #999;
      margin: 0;
    }
    .quote-icon-left {
      color: #dddddd;
      font-size: 26px;
      display: inline-block;
      left: -5px;
      position: relative;
    }
    .quote-icon-right {
      color: #dddddd;
      font-size: 26px;
      display: inline-block;
      right: -5px;
      position: relative;
      top: 10px;
    }
    p {
      font-style: italic;
      margin: 15px 0 0 0;
      padding: 0;
    }
  }
}
.contact {
  .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  .info {
    background: #fff;
    i {
      font-size: 20px;
      color: #1bbd36;
      float: left;
      width: 44px;
      height: 44px;
      border: 1px solid #1bbd36;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s;
    }
    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: #111;
    }
    p {
      padding: 0 0 0 60px;
      margin-bottom: 0;
      font-size: 14px;
      color: #444444;
    }
    &:hover {
      i {
        background: #1bbd36;
        color: #fff;
      }
    }
  }
  .php-email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
    .form-group {
      padding-bottom: 8px;
    }
    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
      br {
        + {
          br {
            margin-top: 25px;
          }
        }
      }
    }
    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
      }
    }
    input {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      border-radius: 4px;
      height: 44px;
      &:focus {
        border-color: #1bbd36;
      }
    }
    textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      border-radius: 4px;
      padding: 10px 12px;
      &:focus {
        border-color: #1bbd36;
      }
    }
    button[type="submit"] {
      background: #1bbd36;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;
      &:hover {
        background: #2ae149;
      }
    }
  }
}
.blog {
  padding: 40px 0 20px 0;
  .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    .entry-img {
      max-height: 440px;
      margin: -30px -30px 20px -30px;
      overflow: hidden;
    }
    .entry-title {
      font-size: 28px;
      font-weight: bold;
      padding: 0;
      margin: 0 0 20px 0;
      a {
        color: #111;
        transition: 0.3s;
        &:hover {
          color: #1bbd36;
        }
      }
    }
    .entry-meta {
      margin-bottom: 15px;
      color: #777777;
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
          + {
            li {
              padding-left: 20px;
            }
          }
        }
      }
      i {
        font-size: 16px;
        margin-right: 8px;
        line-height: 0;
      }
      a {
        color: #847872;
        font-size: 14px;
        display: inline-block;
        line-height: 1;
      }
    }
    .entry-content {
      p {
        line-height: 24px;
      }
      .read-more {
        -moz-text-align-last: right;
        text-align-last: right;
        a {
          display: inline-block;
          background: #1bbd36;
          color: #fff;
          padding: 6px 20px;
          transition: 0.3s;
          font-size: 14px;
          border-radius: 4px;
          &:hover {
            background: #1ed33c;
          }
        }
      }
      h3 {
        font-size: 22px;
        margin-top: 30px;
        font-weight: bold;
      }
      blockquote {
        overflow: hidden;
        background-color: #fafafa;
        padding: 60px;
        position: relative;
        text-align: center;
        margin: 20px 0;
        p {
          color: #4d4643;
          line-height: 1.6;
          margin-bottom: 0;
          font-style: italic;
          font-weight: 500;
          font-size: 22px;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 3px;
          background-color: #111;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
    .entry-footer {
      padding-top: 10px;
      border-top: 1px solid #e6e6e6;
      i {
        color: #5e5e5e;
        display: inline;
      }
      a {
        color: #1e1e1e;
        transition: 0.3s;
        &:hover {
          color: #1bbd36;
        }
      }
      .cats {
        list-style: none;
        display: inline;
        padding: 0 20px 0 0;
        font-size: 14px;
        li {
          display: inline-block;
        }
      }
      .tags {
        list-style: none;
        display: inline;
        padding: 0;
        font-size: 14px;
        li {
          display: inline-block;
          + {
            li {
              &::before {
                padding-right: 6px;
                color: #6c757d;
                content: ",";
              }
            }
          }
        }
      }
      .share {
        font-size: 16px;
        i {
          padding-left: 5px;
        }
      }
    }
  }
  .entry-single {
    margin-bottom: 30px;
  }
  .blog-author {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    img {
      width: 120px;
      margin-right: 20px;
    }
    h4 {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 0px;
      padding: 0;
      color: #111;
    }
    .social-links {
      margin: 0 10px 10px 0;
      a {
        color: rgba(17, 17, 17, 0.5);
        margin-right: 5px;
      }
    }
    p {
      font-style: italic;
      color: #bfb9b6;
    }
  }
  .blog-comments {
    margin-bottom: 30px;
    .comments-count {
      font-weight: bold;
    }
    .comment {
      margin-top: 30px;
      position: relative;
      .comment-img {
        margin-right: 14px;
        img {
          width: 60px;
        }
      }
      h5 {
        font-size: 16px;
        margin-bottom: 2px;
        a {
          font-weight: bold;
          color: #4d4643;
          transition: 0.3s;
          &:hover {
            color: #1bbd36;
          }
        }
        .reply {
          padding-left: 10px;
          color: #111;
          i {
            font-size: 20px;
          }
        }
      }
      time {
        display: block;
        font-size: 14px;
        color: #2b2b2b;
        margin-bottom: 5px;
      }
    }
    .comment.comment-reply {
      padding-left: 40px;
    }
    .reply-form {
      margin-top: 30px;
      padding: 30px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
      h4 {
        font-weight: bold;
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
      input {
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 14px;
        &:focus {
          box-shadow: none;
          border-color: #57e76f;
        }
      }
      textarea {
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 14px;
        &:focus {
          box-shadow: none;
          border-color: #57e76f;
        }
      }
      .form-group {
        margin-bottom: 25px;
      }
      .btn-primary {
        border-radius: 4px;
        padding: 10px 20px;
        border: 0;
        background-color: #111;
        &:hover {
          background-color: #1e1e1e;
        }
      }
    }
  }
  .blog-pagination {
    color: #444444;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li {
      margin: 0 5px;
      transition: 0.3s;
      a {
        color: #111;
        padding: 7px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover {
        background: #1bbd36;
        a {
          color: #fff;
        }
      }
    }
    li.active {
      background: #1bbd36;
      a {
        color: #fff;
      }
    }
  }
  .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    .sidebar-title {
      font-size: 20px;
      font-weight: 700;
      padding: 0 0 0 0;
      margin: 0 0 15px 0;
      color: #111;
      position: relative;
    }
    .sidebar-item {
      margin-bottom: 30px;
    }
    .search-form {
      form {
        background: #fff;
        border: 1px solid #ddd;
        padding: 3px 10px;
        position: relative;
        input[type="text"] {
          border: 0;
          padding: 4px;
          border-radius: 4px;
          width: calc(100% - 40px);
        }
        button {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          border: 0;
          background: none;
          font-size: 16px;
          padding: 0 15px;
          margin: -1px;
          background: #1bbd36;
          color: #fff;
          transition: 0.3s;
          border-radius: 0 4px 4px 0;
          line-height: 0;
          i {
            line-height: 0;
          }
          &:hover {
            background: #1ecf3b;
          }
        }
      }
    }
    .categories {
      ul {
        list-style: none;
        padding: 0;
        li {
          + {
            li {
              padding-top: 10px;
            }
          }
        }
        a {
          color: #111;
          transition: 0.3s;
          &:hover {
            color: #1bbd36;
          }
          span {
            padding-left: 5px;
            color: #b4aca8;
            font-size: 14px;
          }
        }
      }
    }
    .recent-posts {
      .post-item {
        + {
          .post-item {
            margin-top: 15px;
          }
        }
      }
      img {
        width: 80px;
        float: left;
      }
      h4 {
        font-size: 15px;
        margin-left: 95px;
        font-weight: bold;
        a {
          color: #111;
          transition: 0.3s;
          &:hover {
            color: #1bbd36;
          }
        }
      }
      time {
        display: block;
        margin-left: 95px;
        font-style: italic;
        font-size: 14px;
        color: #b4aca8;
      }
    }
    .tags {
      margin-bottom: -10px;
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
        }
        a {
          color: #515151;
          font-size: 14px;
          padding: 6px 14px;
          margin: 0 6px 8px 0;
          border: 1px solid #c4c4c4;
          display: inline-block;
          transition: 0.3s;
          &:hover {
            color: #fff;
            border: 1px solid #1bbd36;
            background: #1bbd36;
          }
          span {
            padding-left: 5px;
            color: #aaaaaa;
            font-size: 14px;
          }
        }
      }
    }
  }
}
#footer {
  color: #fff;
  font-size: 14px;
  background: #111;
  .footer-top {
    padding: 60px 0 30px 0;
    background: #1e1e1e;
    .footer-contact {
      margin-bottom: 30px;
      h3 {
        font-size: 22px;
        margin: 0 0 10px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Roboto", sans-serif;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    h4 {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      position: relative;
      padding-bottom: 12px;
    }
    .footer-links {
      margin-bottom: 30px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        i {
          padding-right: 2px;
          color: #1ed33c;
          font-size: 18px;
          line-height: 1;
        }
        li {
          padding: 10px 0;
          display: flex;
          align-items: center;
          &:first-child {
            padding-top: 0;
          }
        }
        a {
          color: rgba(255, 255, 255, 0.6);
          transition: 0.3s;
          display: inline-block;
          line-height: 1;
          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
  .footer-newsletter {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    h4 {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      position: relative;
      padding-bottom: 12px;
    }
    form {
      margin-top: 30px;
      background: #fff;
      padding: 6px 10px;
      position: relative;
      border-radius: 4px 0 0 4px;
      text-align: left;
      input[type="email"] {
        border: 0;
        padding: 4px 8px;
        width: calc(100% - 100px);
      }
      input[type="submit"] {
        position: absolute;
        top: 0;
        right: -4px;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px;
        background: #1bbd36;
        color: #fff;
        transition: 0.3s;
        border-radius: 0 4px 4px 0;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        &:hover {
          background: #2ae149;
        }
      }
    }
  }
  .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #fff;
  }
  .social-links {
    a {
      font-size: 18px;
      display: inline-block;
      background: rgba(255, 255, 255, 0.08);
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 4px;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      &:hover {
        background: #1bbd36;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
@media (max-width: 768px) {
  .header-social-links {
    padding: 0 15px 0 0;
    border-left: 0;
  }
}
@media (max-width: 1366px) {
  .navbar {
    .dropdown {
      .dropdown {
        ul {
          left: -90%;
        }
        &:hover {
          > ul {
            left: -100%;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar {
    ul {
      display: none;
    }
  }
  .breadcrumbs {
    margin-top: 58px;
    .d-flex {
      display: block !important;
    }
    ol {
      display: block;
      li {
        display: inline-block;
      }
    }
  }
}
@media (min-width: 1024px) {
  #hero {
    .carousel-content {
      width: 60%;
    }
    .carousel-control-prev {
      width: 5%;
    }
    .carousel-control-next {
      width: 5%;
    }
  }
}
@media (max-width: 992px) {
  #hero {
    .carousel-container {
      top: 58px;
    }
    .carousel-content {
      h2 {
        margin-bottom: 15px;
        font-size: 22px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
@media (max-width: 1200px) {
  .faq {
    .faq-list {
      padding: 0;
    }
  }
}
